body {
    /* 요소에 최대 길이를 주고, margin:0 auto를 주면,
    maring 좌우가 auto로 적용되며
    가운데 정렬이 된다.
     */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  /* 상단 네비게이션 바 */
.nav {
    padding: 40px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-items {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.gitwitterinsta {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* 자기소개 */
.intro {
    padding-top: 130px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

.intro h1 span {
    color: transparent;
    background: linear-gradient(120deg, #13b0f5 -2.06%, #e35ef7 100%);
    background-clip: text;
}

#face {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 10px solid transparent;
    /* background-image: linear-gradient(#fff, #fff), linear-gradient(120deg, #13b0f5 -2.06%, #e35ef7 100%); */
    background-image: linear-gradient(#fff, #fff), linear-gradient(120deg, rgba(255,0,0,1) 0%, rgba(255,103,0,1) 18%, rgba(255,171,0,1) 30%, rgba(255,248,0,1) 43%, rgba(255,183,65,1) 58%, rgba(255,109,138,1) 75%, rgba(255,57,189,1) 87%, rgba(255,0,245,1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

/* 기술 스택 */
.section-text {
    padding-bottom: 50px;
}

.section-text h2 {
    text-align: center; /*글자 가운데로*/
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
}

.section-text p {
    text-align: center;
    font-size: 20px;
    color: #666;
}

.tech-lists {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.tech-lists li {
    align-items: center;
}

#tech-stack {
    padding-bottom: 150px;
}

/* 프로젝트 */
#projects {
    padding: 30px;
}

.project-lists {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.project-item {
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.project-thumbnail {
    width: 100%;
    padding: 10px;
    /* 위쪽 둥글게 둥글게 */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* 배경 이미지 가운데 정렬, 가득차게 */
    /* background-image: url("https://source.unsplash.com/random/400×400"); */
    background-position: center;
    background-size: cover;
}

.project-content {
    padding: 30px;
    /* 세로 간격(gap)을 일정하게 주기 위해 flex 적용 */
    display: flex;
    flex-direction: column;
    gap:24px;
}

.project-content h4 {    
    color: #42446e;
    font-size: 24px;
    font-weight: 700;
}

.project-link {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 20px;
}

.project-link a {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}