/* ------- 상단 네비게이션 -----  */
body {
    /* 요소에 최대 길이를 주고, margin:0 auto를 주면,
    maring 좌우가 auto로 적용되며
    가운데 정렬이 된다.
     */
    max-width: 1228px;
    margin: 0 auto;
    padding: 0 20px;
  }

  /* 상단 네비게이션 바 */
.nav {
    padding: 40px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-items {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.gitwitterinsta {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* 자기소개 */
.intro {
    padding-top: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

.intro h1 span {
    color: transparent;
    background: linear-gradient(120deg, #13b0f5 -2.06%, #e35ef7 100%);
    background-clip: text;
}

#face {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 10px solid transparent;
    /* background-image: linear-gradient(#fff, #fff), linear-gradient(120deg, #13b0f5 -2.06%, #e35ef7 100%); */
    background-image: linear-gradient(#fff, #fff), linear-gradient(120deg, rgba(255,0,0,1) 0%, rgba(255,103,0,1) 18%, rgba(255,171,0,1) 30%, rgba(255,248,0,1) 43%, rgba(255,183,65,1) 58%, rgba(255,109,138,1) 75%, rgba(255,57,189,1) 87%, rgba(255,0,245,1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}