/*id 선택자*/

#title {
    text-decoration: underline;
    font-weight: bold;
}

/*클래스 선택자*/
.description {
    color: grey;
}

/*태그 선택자*/
p {
    padding : 10px;
    margin: 10px;
    font-style: italic;
    border: 1px solid red;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    border-radius: 20px;
}

h1 {
    font-style: italic;
}

/*자식 선택자*/
div p {
    color: red;
}

div span, div div{
    background: yellow;
    border: 1px solid red;
}

span, .div2 {
    background-color: aqua;
    border: 1px solid red;
}

/* relative */
.top {
    position: relative;
    top: 5px;
    z-index: 1;
}

.right {
    position: relative;
    right: 5px;
}

.left {
    position: relative;
    left: 5px;
}

.bottom {
    position: relative;
    bottom: 5px;
}